
/*body container*/
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}


/*customer box*/
.customerInfo, .phoneInfo, .stateInfo {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    gap: 4px;
    border: 1px solid black;
    width: 350px;
    padding: 5px 5px;
}

.customerInfo h3, .phoneInfo h3{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#fname {
    margin-left: 34px;
}

#fdocument{
    margin-left: 10px;
}

#customerBtn{
    display: block;
    margin: 5px auto;
}

/* Dropdown Button */
.dropbtn, .customerBtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .deactive {
    background-color: #404040;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .validated {
    background-color: #139739;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus, #customerBtn:hover {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .myBrand, .myModel {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  #marca, #modelo {
    width: 245px;
    text-align: center;
    line-height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.stateInfo{
  display: block;
  height: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.stateInfo h3{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #3498DB;
}

#stateInfo {
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
}
