@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Lexend+Deca:wght@200&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Shadows+Into+Light&display=swap');

:root {
    --paddin-container: 100px 0;
    --color-title: #001a49
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddin-container);
}

.hero {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/videojuegos.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

.nav {
    --paddin-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-weight: 300;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #fff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);

}

.hero_container {
    max-width: 800px;
    --paddin-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title {
    font-size: 3.5rem;
}

.hero_paragraph {
    margin-bottom: 25px;
}

.cta {
    display: inline-block;
    background-color: #1769b6;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 6px;
}

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph {
    line-height: 1.7;
}

.about_main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon {
    width: 40px;
}

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
    background-size: 15px 15px;
    overflow: hidden;
}

.knowledge_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge_picture {
    max-width: 500px;
}

.knowlegde_paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge_img {
    width: 100%;
    display: block;
}

/* precio */

.price {
    text-align: center;
}

.price_table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-prices: #1d293f;
    --bg-cta: #fff;
    --color--cta: #5454d4;
    --color-item: #696871;
}

.price_name {
    color: var(--color-plan);
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.price_price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--color-item);
}

.price_cart {
    cursor: pointer;
}

.price_cards {
    width: 100%;
    margin: 10px;
    padding: 0;
    text-align: center;
}

.price_cta {
    background-color: var(--bg-cta);
    display: block;
    padding: 15px 0;
    border-radius: 6px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color--cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s linear;
}

.price_cta:hover {
    filter: none;
}

.price_finalizar {
    background-color: #5454d4;
    color: #fff;
    padding: 15px 10px;
    margin-top: 40px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s linear;
}

.price_finalizar:hover {
    filter: none;
}

/* modal*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .8s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .7s;
}

.modal_container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal_contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrito_img {
    width: 150px;
    padding: 20px;
}

.eliminar_producto {
    background-color: #5454d4;
    color: #fff;
    padding: .5em .9em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s linear;
}

.eliminar_producto:hover {
    filter: none;
}

.modal_title {
    font-size: 2rem;
}

.modal_paragraph {
    margin-bottom: 10px;
}

.modal_img {
    width: 90%;
    max-width: 250px;
}


.modal_cerrar {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 30px;
}

.modal_close {
    text-decoration: none;
    color: #fff;
    background-color: #5454d4;
    margin-top: 20px;
    padding: .8em 1.5em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s linear;
}

.modal_precio {
    margin-top: 20px;
    padding: .8em .5em;
    display: inline-block;
}

.modal_close:hover {
    filter: none;
}

.parrafo {
    font-weight: 900;
}

#precio_total {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.info_carrito {
    display: flex;
}


/* testimonio */

.testimonio {
    background-color: #e5e5f7;
}

.testimonio_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimonio_body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimonio_body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimonio_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimonio_texts {
    max-width: 700px;
}

.testimonio_arrow {
    width: 90%;
    cursor: pointer;
}

/* preguntas*/

.preguntas {
    text-align: center;
}

.preguntas_container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.preguntas_padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454d4;
    border-radius: 8px;
}

.preguntas_padding--add {
    padding-bottom: 30px;
}

.preguntas_answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.preguntas_title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.preguntas_arrow {
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.preguntas_arrow--rotate {
    transform: rotate(180deg);
}

.preguntas_show {
    text-align: left;
    height: 0;
    transition: height .3s;
}

.preguntas_img {
    display: block;
}

.preguntas_copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* footer*/

.footer {
    background-color: #1d293f;
}

.footer_title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title,
.footer_newsletter {
    color: #fff;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input {
    background-color: #fff;
    height: 35px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit {
    margin-left: auto;
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #ffff;
    border-radius: 6px;
    cursor: pointer;
}

.footer_copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright {
    font-weight: 300;
}

.footer_icons {
    margin-bottom: 10px;
}

.footer_img {
    width: 30px;
}

/* adaptar a dispositivos moviles*/

@media (max-width:800px) {
    .nav_menu {
        display: block;
    }

    .nav_link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .about_main {
        gap: 2em;
    }

    .about_icons:last-of-type {
        grid-column: 1/-1;
    }

    .knowledge_container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .modal_container {
        padding: 2em 1.5em;
    }

    .modal_title {
        font-size: 1.5rem;
    }

    .testimonio_container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimonio_body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimonio_img {
        width: 200px;
        height: 200px;
    }

    .preguntas_copy {
        width: 100%;
    }

    .footer_container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer_form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input {
        flex: 1;
    }
}

@media (max-width:600px) {
    .hero_title {
        font-size: 2rem;
    }

    .hero_paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .price_element {
        width: 90%;
    }

    .price_price {
        font-size: 2rem;
    }

    .testimonio {
        --padding-container: 60px 0;
    }

    .testimonio_container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimonio_arrow {
        width: 100%;
    }

    .testimonio_compra {
        margin-top: 15px;
    }

    .preguntas_title {
        font-size: 1rem;
    }

    .nav_link--footer {
        justify-content: space-between;
    }

    .footer_title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 50px;
    }

    .footer_inputs {
        flex-wrap: wrap;
    }

    .footer_input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer_submit {
        margin-right: auto;
        margin-left: 0;
    }
}

.containerPhone{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btnPhone{
    cursor: pointer;
    display: inline-block;
    background-color: #1769b6;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
}

.phone-form{
padding-bottom: 60px;
}

.titReparaciones {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

}

.phone-form {
    display: flex;
    justify-content: space-evenly;
}

